.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header_data{
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.location{
    display: flex;
    align-items: center;
    gap: .125rem;
    border: 1px solid black;
    border-radius: 8px;
    padding: 2px;
}

.cart{
    border: 1px solid black;
    border-radius: 8px;
    padding: 2px;
}